<h2 id = "title">Welcome to Ember</h2>
{{#link-to 'dynamic-segment1' '101' '102'}}Deep Link{{/link-to}}
<br>
{{#link-to 'blog-post' 'smith'}}View Profile{{/link-to}}
{{#link-to 'nestedroute.fruits'}}fruits{{/link-to}}

{{outlet}}